<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard Admin</h1>
</div>
<p>Chào mừng Admin! Quản lý shop từ đây.</p>
<div class="row">
    <div class="col-md-6">
        <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Quản lý Sản phẩm</a>
    </div>
    <div class="col-md-6">
        <a asp-controller="Orders" asp-action="Index" class="btn btn-info">Quản lý Đơn hàng</a>
    </div>
</div>